<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Rank</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of data | orderByRank">
            <td>{{player.Login}}</td>
            <td>{{player.Rank}}</td>
            <td *ngIf="player.Status === 'playing' && player.Login !== user.Login">{{player.Status}}</td>
            <td *ngIf="player.Status === 'online' && player.Login !== user.Login">
                <button class="btn btn-primary" (click)="joinPlayer(player.Login)">Invite</button>
            </td>
            <td *ngIf="player.Login === user.Login">You</td>
        </tr>
    </tbody>
</table>